h2{
    color: rgb(253, 253, 253);
    text-shadow: thistle;
}

h1{
    font-family: 'Courier New', Courier, monospace;
    color: rgb(114, 87, 20);
    text-shadow: 1px 1px 2px black, 0 0 25px rgb(251, 255, 0), 0 0 5px;
}



p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    color: darkkhaki;
}

table{
    width:auto;
    margin: 100px ;
    margin-left: auto;
    margin-right: auto;
}

table, th, td {
    border: 1px solid yellowgreen;
    border-collapse: collapse;
  }
th, td {
    padding: 5px;
  }
th {
    text-align: center;
  }